<section id="addWish" class="mb-5 mt-5">
  <div >
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <form #wishForm="ngForm" (ngSubmit)="onSubmit(wishForm)">
              <input type="hidden" #$key="ngModel"  [(ngModel)]="wishService.selectedWish.$key" name="$key">

              <h1 class="h4 mb-3 font-weight-normal" *ngIf="wishService.selectedWish.$key == null; else Edit">Add a new wish...</h1>
              <ng-template #Edit>
                <h1 class="h4 mb-3 font-weight-normal">Edit your wish...</h1>
              </ng-template>
              <div class="form-group">
                <input type="text" id="wish_name" [(ngModel)]="wishService.selectedWish.wish_name" name="wish_name" class="form-control" placeholder="Your wish..." required>
              </div>
              <div class="form-group">
                <textarea id="description" [(ngModel)]="wishService.selectedWish.description" name="description" class="form-control" placeholder="Describe your wish..." required></textarea>
              </div>
              <div class="form-group">
                <input type="text" id="owner" [(ngModel)]="wishService.selectedWish.owner" name="owner" class="form-control" placeholder="owner" required>
              </div>
              <div class="row text-center ">
              <div class="col">
                <button class="btn btn-success btn-block" type="submit" *ngIf="wishService.selectedWish.$key == null; else buttonEdit">Save</button>
                <ng-template #buttonEdit class="col">
                  <button class="btn btn-success btn-block" type="submit">Edit</button>
                </ng-template>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-danger btn-block" (click)="hidePanel()">Cancel</button>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
