<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" [routerLink]="['/home']"><img src="assets/img/watchmen13.jpg" alt="image"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/wishes']" routerLinkActive="router-link-active" >Wishes List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']" routerLinkActive="router-link-active" >Users</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button *ngIf="loguedUser; else LogIn" class="btn btn-danger my-2 my-sm-0" (click)="logOut()" >Logout</button>
      <ng-template #LogIn>
        <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </ng-template>
    </form>
  </div>
</nav>
<div class="container">

  <router-outlet></router-outlet>

</div>
