<div class="ng-container">
  <h1 class="jumbotron text-center text-success"> Bienvenido a nuestra aplicación</h1>
  <div class="row text-center">
    <div class="col">
      <p>Esta es una aplicación pensada para ir anotanto aquellos pequeños deseos o caprichos que queremos adquirir pero qué no sabemos exactemente qué modelo, marca o dónde adquirirlo.</p>
      <p>Registrándote, con esta aplicación podrás ir registrándolos en una lista de deseos y, para cada uno de ellos, ir recopilando las diferentes opciones, para posteriormente decidirnos por la más convenientes.</p>
    </div>
    <div class="col">
      <p>Si ya tienes cuenta, loguéate. Si no, crea tu cuenta ya.</p>
      <a class="btn btn-secondary text-white" href="#">Identifícate</a>
      <a class="btn btn-secondary text-white" [routerLink]="['/users']">regístrate</a>
    </div>
  </div>
</div>
